In [2]:
# file
# f - open('<file_name>', '<modes>')
#f.close()

# with open(
#modes -> there are many modes but we only study four
# r-> read
# w -> write
# a -> append
# x -> create
# rw -> read write

In [3]:
f = open('data.txt','x')
f.close()

In [9]:
f = open('data.txt','r')
d = f.read()
print(d)
f.close()

Hello world
hello world
hello world
hello world
hello world

In [10]:
d

'Hello world\nhello world\nhello world\nhello world\nhello world'

In [11]:
l = d.split('\n')
l

['Hello world', 'hello world', 'hello world', 'hello world', 'hello world']

In [24]:
#append()
f = open('data.txt','a')
# d = f.write("\n6. Hello World") or f.write()
f.write("\n7. Hellow world")
f.close()

In [25]:
#read
f = open('data.txt','r')
#d = f.read() or f.read()
d = f.read()
print(d)
f.close()

1. Hello world
2. hello world
3. hello world
4. hello world
5. hello world
6. Hello World
7. Hellow world
7. Hellow world
7. Hellow world
7. Hellow world
7. Hellow world

In [27]:
#write mode
f = open('data1.txt','w')
f.write("Hellow world")
f.close()

In [30]:
#WAP to take name, age, address, phone from user and add it to file
info = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    phone = input("Enter phone = ")
    data = f"{name} {age} {add} {phone}\n"
    info = info + data
    
f = open('data1.txt','w')
f.write(info)
f.close()

Enter n =  3
Enter name =  Ram
Enter age =  34
Enter address =  Ktm
Enter phone =  981234566
Enter name =  Shyam
Enter age =  25
Enter address =  lalitput
Enter phone =  35435344
Enter name =  Hari
Enter age =  41
Enter address =  bhaktapur
Enter phone =  94738398

In [31]:
#read
f = open('data1.txt','r')
d = f.read()
print(d)
f.close()

Ram 34 Ktm 981234566
Shyam 25 lalitput 35435344
Hari 41 bhaktapur 94738398

In [2]:
#using .csv instead of .txt, the file can be open with excel
info = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    phone = input("Enter phone = ")
    data = f"{name},{age},{add},{phone}\n" #removing spacing and replace with comma
    info = info + data
    
f = open('data.csv','w') #we can also specify where to save file by giving the path 
#f = open('c:/users/anil.rai/python/data.csv','w')
f.write('name,age,add,phone\n')
f.write(info)
f.close()

Enter n =  6
Enter name =  Ram
Enter age =  34
Enter address =  Kathmandu
Enter phone =  9846023456
Enter name =  Sita
Enter age =  22
Enter address =  Lalitpur
Enter phone =  9823456789
Enter name =  Hari
Enter age =  25
Enter address =  Sindhuli
Enter phone =  985478923
Enter name =  Gopal
Enter age =  29
Enter address =  Kavre
Enter phone =  9834679090
Enter name =  Gita
Enter age =  34
Enter address =  Sunsari
Enter phone =  9856783424
Enter name =  Naran
Enter age =  31
Enter address =  Jhapa
Enter phone =  9856783234

In [35]:
pwd #where is the location of the file location of this jupyter notebook

'C:\\Users\\anil.rai\\python'

In [37]:
#read
f = open('data.csv','r')
d = f.read()
print(d)
f.close()

name,age,add,phone
Ram,22,Kathmandu,9814133505
Shyam,24,Lalitpur,9846224415
Hari,31,Bhaktapur,9856049855

In [45]:
#billing

import datetime
x = datetime.datetime.now()
date = x.strftime("%c")

info = "" #defining string
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter product name= ")
    qty = float(input("Enter qty= "))
    price = float(input("Enter price= "))
    total = price * qty
    row = f"{product},{price},{qty},{total},{date}\n"
    info = info + row
    grand_total= grand_total + total

print("Bill = \n",info)
print("All total = \n",grand_total)

Enter n =  2
Enter product name=  Apple
Enter qty=  3
Enter price=  300
Enter product name=  Banana
Enter qty=  5
Enter price=  150

Bill =
 Apple,300.0,3.0,900.0,Tue May 13 07:51:09 2025
Banana,150.0,5.0,750.0,Tue May 13 07:51:09 2025

All total =
 1650.0

In [49]:
f = open('bill.csv','w')
f.write('product,price,qty,total,date\n')
f.write(info)
f.close()

In [50]:
f = open('bill.csv','r')
d = f.read()
print(d)
f.close()

product,price,qty,total,date
Apple,300.0,3.0,900.0,Tue May 13 07:51:09 2025
Banana,150.0,5.0,750.0,Tue May 13 07:51:09 2025

In [51]:
data = d.split(\n)[-:-1]
data

SyntaxError: unexpected character after line continuation character (2995378809.py, line 1)