In [1]:
#Multiple data store - python data collection
#1. list
#2. tuple
#3. dictionary
#4. set

In [4]:
l = ["Apple", "Ball", "Cat"] #multiple items/values separated by commas
a = [1,2,3,4,5,6,7,8,9]

#Can contain Duplicate data
l = ["Apple", "Ball", "Cat","Apple"]
a = [1,2,3,4,5,6,7,8,9,9]
print(l)
print(a)

['Apple', 'Ball', 'Cat', 'Apple']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 9]

In [6]:
#indexing
l = ["Apple", "Ball", "Cat", "Apple"] #indexing by comma, so 0 is apple, 1 is ball
print(l[0])
print(l[1])

Apple
Ball

In [18]:
#slicing
l = ["Apple", "Ball", "Cat", "Apple",1,2,3,10.5, True]
a = [1,2,3,4,5,6,7,8,9,9]
print(l[0:2]) #indexing
print(l[-1:-4:-1])  #negative slicing
print(l[0:10:2]) #slicing
print(type(a)) #data types

['Apple', 'Ball']
[True, 10.5, 3]
['Apple', 'Cat', 1, 3, True]
<class 'list'>

In [12]:
#with looping
l = ["Apple", "Ball", "Cat", "Apple"] #predefined variables, another is user defined by asking user to enter the value
for i in l: #loops as per the no. of items
    print(i)

Apple
Ball
Cat
Apple

In [13]:
#with looping
l = ["Apple", "Ball", "Cat", "Apple"]
for i in l:
    print(i, "Hello World")

Apple Hello World
Ball Hello World
Cat Hello World
Apple Hello World

In [15]:
#range function
l = ["Apple", "Ball", "Cat", "Apple"]
for i in range(len(l)):
    print(i)

0
1
2
3

In [16]:
#range function
l = ["Apple", "Ball", "Cat", "Apple"]
for i in range(len(l)):
    print(l[i])

Apple
Ball
Cat
Apple

In [20]:
#WAP to take values from user and add it into list
#l = list()
#l = []
l = [] #empty list, will be filled by asking with user
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")

#append() insert() extend()
    l.append(x) #We haven't written l = l.append(), which proves list is mutable where the original value is changed
print(l)

Enter n =  5
Enter x =  Apple
Enter x =  Ball
Enter x =  Cat
Enter x =  Dog
Enter x =  Egg

['Apple', 'Ball', 'Cat', 'Dog', 'Egg']

In [21]:
#WAP to take values from user and add it into list
#l = list()
#l = []
l = [] #empty list, will be filled by asking with user
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))

#append() insert() extend()
    l.append(x) #We haven't written l = l.append(), which proves list is mutable where the original value is changed
print(l)

Enter n =  10
Enter x =  23
Enter x =  34
Enter x =  6
Enter x =  78
Enter x =  65
Enter x =  43
Enter x =  56
Enter x =  78
Enter x =  43
Enter x =  222

[23, 34, 6, 78, 65, 43, 56, 78, 43, 222]

In [26]:
print("The sum of all the values = ",sum(l))
print("The min value = ", min(l))
print("The max value = ", max(l))
print("The average value = ", sum(l)/len(l))
l.sort()
print(l) #mutable, orignial data has been changed

The sum of all the values =  648
The min value =  6
The max value =  222
The average value =  64.8
[6, 23, 34, 43, 43, 56, 65, 78, 78, 222]

In [27]:
#for descending order
print("The sum of all the values = ",sum(l))
print("The min value = ", min(l))
print("The max value = ", max(l))
print("The average value = ", sum(l)/len(l))
l.sort() #this means apply sort() function in list 'l'
print(l) #mutable, original data has been changed
l.reverse() #there is no descending order function, so use reverse function instead
print(l)

The sum of all the values =  648
The min value =  6
The max value =  222
The average value =  64.8
[6, 23, 34, 43, 43, 56, 65, 78, 78, 222]
[222, 78, 78, 65, 56, 43, 43, 34, 23, 6]

In [30]:
#string
a = ["Ball", "Cat", "Apple", "Ant", "banana", "Xray"] #priorities to special character, numbers, upper case and lower case
a.sort() #it changes the original value, it cannot be printed
print(a) #banana is printed last as 'b' is in small letter

['Ant', 'Apple', 'Ball', 'Cat', 'Xray', 'banana']

In [32]:
a = ["Ball", "Cat", "Apple", "Ant", "banana", "Xray"] #priorities to special character, numbers, upper case and lower case
a.sort(reverse = True) #do reverse
print(a)
a.sort(reverse = False) #don't do reverse, no need to write 'reverse=false', it could be just a.sort()
print(a)

['banana', 'Xray', 'Cat', 'Ball', 'Apple', 'Ant']
['Ant', 'Apple', 'Ball', 'Cat', 'Xray', 'banana']

In [33]:
#append()
a = ["Ball", "Cat", "Apple", "Ant", "banana", "Xray"]
a.append("Fish") #apend fish to the last 
a #print(a)

['Ball', 'Cat', 'Apple', 'Ant', 'banana', 'Xray', 'Fish']

In [34]:
#insert() inserting values in any indexes
a = ["Ball", "Cat", "Apple", "Ant", "banana", "Xray"]
a.insert(1,"Fish")
a #print(a)

['Ball', 'Fish', 'Cat', 'Apple', 'Ant', 'banana', 'Xray']

In [35]:
#extend()
a = ["Ball", "Cat", "Apple", "Ant", "banana", "Xray"]
b = [1,2,3,4,5]
a.extend(b)
print(a)

['Ball', 'Cat', 'Apple', 'Ant', 'banana', 'Xray', 1, 2, 3, 4, 5]

In [40]:
#concat() this is similar to using extend() function
a = ["Ball", "Cat", "Apple", "Ant", "banana", "Xray"]
b = [1,2,3,4,5]
a = a+b #could be c=a+b 
print(a)

['Ball', 'Cat', 'Apple', 'Ant', 'banana', 'Xray', 1, 2, 3, 4, 5]

#CRUD = Create Read Update Delete
#print(max()) can be done
#print(l.extend) can not be done
#print(a+b) can be done
#print(a=a+b) can not be done

In [41]:
#Update or Edit
a = ["Ball", "Cat", "Apple", "Ant", "banana", "Xray"]
print(a[0])

Ball

In [42]:
#Update or Edit, there is no function for update, use your logic
a = ["Ball", "Cat", "Apple", "Ant", "banana", "Xray"]
a[0] = "ball" #with small b
print(a)

['ball', 'Cat', 'Apple', 'Ant', 'banana', 'Xray']

In [45]:
#changing multiple values, it works in a sequential manner
a[0:2] = ["bat","cow"]
print(a)

['bat', 'cow', 'Apple', 'Ant', 'banana', 'Xray']

In [46]:
a = ["Ball", "Cat", "Apple", "Ant", "banana", "Xray"]
a[0:2] = ["Mango"] #replaces the first two values with Mango
print(a)

['Mango', 'Apple', 'Ant', 'banana', 'Xray']