In [3]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\anil.rai\appdata\local\programs\python\python313\lib\site-packages (2.2.9)

In [6]:
import mysql.connector

database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "python630am" #database
)
db = database.cursor() #holds the database

In [8]:
db.execute("SELECT * FROM student") #* -> all
result = db.fetchall()

for x in result:
  print(x)

(1, 'Ram', Decimal('78'), Decimal('67'), Decimal('88'), Decimal('56'), Decimal('79'), Decimal('450'), 90.0, 'A')
(2, 'Shyam', Decimal('65'), Decimal('67'), Decimal('77'), Decimal('78'), Decimal('87'), Decimal('430'), 78.0, 'B')
(4, 'Hari', Decimal('78'), Decimal('98'), Decimal('67'), Decimal('87'), Decimal('78'), Decimal('460'), 88.0, 'B')

In [13]:
db.execute("SELECT student_name,total,grade FROM student")
result =db.fetchall()

for x in result:
  print(x)

('Ram', Decimal('450'), 'A')
('Shyam', Decimal('430'), 'B')
('Hari', Decimal('460'), 'B')

In [14]:
db.execute("SELECT * FROM student WHERE grade = 'A'")
result =db.fetchall()

for x in result: 
  print(x) #the result is printed in the tuple format

(1, 'Ram', Decimal('78'), Decimal('67'), Decimal('88'), Decimal('56'), Decimal('79'), Decimal('450'), 90.0, 'A')

In [21]:
db.execute("SELECT * FROM student WHERE grade = 'A'")
result =db.fetchall()

for x in result:
  print(x)

(1, 'Ram', Decimal('78'), Decimal('67'), Decimal('88'), Decimal('56'), Decimal('79'), Decimal('450'), 90.0, 'A')

In [20]:
db.execute("SELECT * FROM student WHERE percentage >= 85.0")
result =db.fetchall()

for x in result: 
  print(x) #the result is printed in the tuple format

(1, 'Ram', Decimal('78'), Decimal('67'), Decimal('88'), Decimal('56'), Decimal('79'), Decimal('450'), 90.0, 'A')
(4, 'Hari', Decimal('78'), Decimal('98'), Decimal('67'), Decimal('87'), Decimal('78'), Decimal('460'), 88.0, 'B')

In [26]:
#insert

sql = """INSERT INTO student (student_name, physics, math, english,nepali,chemistry,total,percentage,grade) 
VALUES ('Sarita', 52, 59, 62, 50, 49, 38, 71, 'B');"""
db.execute(sql)
database.commit() #updating the databse

In [32]:
#this is backend
student_name = input("Enter name = ")
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali marks = "))

total = physics + chemistry + math + english + nepali

per = total/5

if per >=80: grade = "A"
elif per >=60: grade = "B"
elif per >=45: grade = "C"
else: grade = "F"

#print(total); print("is total marks = ")
print("The total marks", total)
print("The percentage = ", per)
print("The grade = ", grade)

#insert
sql = f"INSERT INTO student (student_name, physics, math, english,nepali,chemistry,total,percentage,grade) 
VALUES ('student_name','physics','chemistry','math','nepali','english');"
db.execute(sql)
database.commit()

SyntaxError: unterminated f-string literal (detected at line 24) (723969642.py, line 24)

In [31]:
db.execute("SELECT * FROM student") #* -> all
result = db.fetchall()

for x in result:
  print(x)

(1, 'Ram', 78.0, 67.0, Decimal('88'), Decimal('56'), Decimal('79'), Decimal('450'), 90.0, 'A')
(2, 'Shyam', 65.0, 67.0, Decimal('77'), Decimal('78'), Decimal('87'), Decimal('430'), 78.0, 'B')
(4, 'Hari', 78.0, 98.0, Decimal('67'), Decimal('87'), Decimal('78'), Decimal('460'), 88.0, 'B')
(10, 'Gopal', 45.0, 56.0, Decimal('66'), Decimal('55'), Decimal('44'), Decimal('350'), 67.0, 'C')
(11, 'Sarita', 52.0, 59.0, Decimal('62'), Decimal('50'), Decimal('49'), Decimal('38'), 71.0, 'B')

In [6]:
#need to import database for using the SQL query
import mysql.connector

database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "python630am" #database
)
db = database.cursor() #holds the database

In [9]:
#update
sql = "UPDATE student SET student_name = 'Anil' WHERE roll_no = 1"
db.execute(sql)
database.commit()

In [10]:
#delete
sql = "DELETE FROM student WHERE student.roll_no = 10"
db.execute(sql)
database.commit()

In [ ]:
#database is mostly be used in django