In [1]:
#string
a = 'hello world'
b = "hello world"
c = '''hello world'''

print(a)
print(b)
print(c)

hello world
hello world
hello world

In [2]:
#concat or append
a = "Hello"
b = "World"
c = a+b
print(c)

HelloWorld

In [3]:
#string with multiplication
a = "Hello world"
print(a*2)

Hello worldHello world

In [4]:
#Input and print what has been entered/typed
name = input("Enter name = ")
print(name)

Enter name =  Ram

Ram

In [5]:
#string is immutable data type. String is iterrable.
a = "Hello"
for i in a:
    print(i)

H
e
l
l
o

In [7]:
a = 10
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [9]:
#Indexing
a = 'Hello world'
print(a[3]) #always use big bracket in indexing. From left to right it starts with 0.
print(a[-1]) #from right to left starts from -1

l
d

In [11]:
#slicing
a = 'hello world'
print(a[0:5])

hello

In [13]:
#slicing
a = 'hello world'
print(a[0:5])
print(a[5:])

hello
 world

In [16]:
#slicing
a = 'hello world'
b = a[0:5]
c = a[5:]
print(b)
print(c)

hello
 world

In [17]:
#using range
a = "Hello World"
l = len(a)
for i in range(l):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [18]:
#using range
a = "Hello World"
l = len(a)
for i in range(l):
    print(a[i])

H
e
l
l
o

W
o
r
l
d

In [19]:
#using range
a = "Hello World"
l = len(a)
for i in range(l):
    print(a[i], end = " ")

H e l l o   W o r l d

In [22]:
#while loop. The index starts from 0.
i = 0
while i<len(a):
    print(a[i], end = " ")
    i = i+1

H e l l o   W o r l d

In [27]:
#string formatting
name = "Ram"
age = 34
address = "Kathmandu"
info = "Hello world. I am " + name + " I am from " + address + " I am " + str(age) 
print(info)

Hello world. I am Ram I am from Kathmandu I am 34

In [29]:
#string formatting
name = "Ram"
age = 34
address = "Kathmandu"
info = f"Hello World I am {name}. I am from {address}. I am {age}" #f, meaning formatting is here, which provides formatting to what's inside the curly bracket
print(info)
info = "Hello World I am {name}. I am from {address}. I am {age}" #without using f
print(info)

Hello World I am Ram. I am from Kathmandu. I am 34
Hello World I am {name}. I am from {address}. I am {age}

In [31]:
#WAP to create a billing system using string formatting. This billing code (from loop) is redone with string formatting
info = "" #varialbe initialise
row = 0 #this is optional, no need to do
grand_total = 0 #varialbe initialise, define
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter product name=")
    qty = float(input("Enter qty="))
    price = float(input("Enter price="))
    total = price * qty
    row = f"{product} {price} {qty} {total}\n"
    info = info + row
    grand_total= grand_total + total

print("Bill = \n",info)
print("All total = \n",grand_total)

Enter n =  2
Enter product name= momo
Enter qty= 5
Enter price= 120
Enter product name= coke
Enter qty= 4
Enter price= 100

Bill =
 momo 120.0 5.0 600.0
coke 100.0 4.0 400.0

All total =
 1000.0

In [34]:
#search in string. This is to prove or check string is immutable.
a = "Ram Shyam Hari Gopal" #but in reality, it is better to save the student roll no. instead of storing them in string as it has its own flaws
b = "Ram"
if b in a:
    print("yes")
else:
    print("No")

yes

In [36]:
#search in string. This is to prove or check string is immutable.
a = "Ram Shyam Hari Gopal Ram" #but in reality, it is better to save the student roll no. instead of storing them in string as it has its own flaws
b = "Ram"
if b in a:
    print("yes")
    print(a.count("Ram"))  #no. of times the word Ram has been repeated in the a
else:
    print("No")

Enter name =  Ram

yes

In [38]:
#search in string. This is to prove or check string is immutable.
a = "Ram Shyam Hari Gopal Ram" #but in reality, it is better to save the student roll no. instead of storing them in string as it has its own flaws. To sort out this, we use array.
b = input("Enter name = ")
if b in a:
    print("yes")
    print(a.count("b"))  #no. of times the word inserted has been repeated in the a
else:
    print("No")

Enter name =  Ram

yes
0

In [42]:
#string is immutable
a = "Ram Shyam Hari Gopal Ram" 
a.lower()
print(a)

Ram Shyam Hari Gopal Ram

In [43]:
a = "rAm"
a.lower() #the text is not updated, but it is just showing

'ram'

In [40]:
#.lower()
a = "Ram Shyam Hari Gopal Ram" 
a = a.lower()
print(a)

ram shyam hari gopal ram

In [41]:
#.upper
a = "Ram Shyam Hari Gopal Ram" 
a = a.upper()
print(a)

RAM SHYAM HARI GOPAL RAM

In [45]:
a = "Ram Shyam Hari Gopal Ram Ramesh".lower()
b = input("Enter name = ").lower()
if b in a:
    print("yes")
    print(a.count(b))  #no. of times the word inserted has been repeated in the a
else:
    print("No")

Enter name =  rAm

yes
3

In [46]:
#replace
a = "Ram Shyam Hari Gopal Ram Ramesh"
a.replace("Shyam","Shyama")
print(a)

Ram Shyam Hari Gopal Ram Ramesh

In [47]:
#replace
a = "Ram Shyam Hari Gopal Ram Ramesh"
a = a.replace("Shyam","Shyama")
print(a)

Ram Shyama Hari Gopal Ram Ramesh

In [49]:
#replace
a = "Ram Shyam Hari Gopal Ram Ramesh"
a = a.replace("Ram","Rama")
print(a)

Rama Shyam Hari Gopal Rama Ramaesh

In [51]:
#replace
a = "Ram Shyam Hari Gopal Ram Ramesh"
a.replace("Shyam","Shyama")

'Ram Shyama Hari Gopal Ram Ramesh'

In [52]:
#replace
a = "Ram Shyam Hari Gopal Ram Ramesh"
a.replace("Shyam","Shyama")
print(a)

Ram Shyam Hari Gopal Ram Ramesh

In [53]:
#There is no delete option in string, but we can use replace to get a similar effect
a = "Ram Shyam Hari Gopal Ram Ramesh"
a = a.replace("Shyam", "")
print(a)

Ram  Hari Gopal Ram Ramesh

In [1]:
#5 May

a = ["Ball", "cat", "Apple", "ant", "banana", "xray"]
a[0:2] =  ["apple"]
a

['apple', 'Apple', 'ant', 'banana', 'xray']

In [ ]:
#delete
#del remove() pop()

In [2]:
#del
a = ["Ball", "cat", "Apple", "ant", "banana", "xray"]
del a[0]
print(a)

['cat', 'Apple', 'ant', 'banana', 'xray']

In [3]:
a = ["Ball", "cat", "Apple", "ant", "banana", "xray"]
del a[0:3]
print(a)

['ant', 'banana', 'xray']

In [4]:
#remove()
a = ["Ball", "cat", "Apple", "ant", "banana", "xray"]
a.remove("Ball")
a

['cat', 'Apple', 'ant', 'banana', 'xray']

In [8]:
a = ["Ball", "cat", "Apple", "ant", "banana", "xray","Ball"]
c = a.count("Ball")
for i in range(c):
    a.remove("Ball")
a

['cat', 'Apple', 'ant', 'banana', 'xray', 'ball']

In [9]:
#find out where is "Ball"
#index()
a = ["Ball", "cat", "Apple", "ant", "banana", "xray","Ball"]
a.index("Ball") #ball is three but the output shows only 1 in position 0

0

In [10]:
#to sortout we need to do it manually
a = ["Ball", "cat", "Apple", "ant", "banana", "xray","Ball"]
l = len(a)
for i in range(l):
    print(a[i]) #it prints out all the items

Ball
cat
Apple
ant
banana
xray
Ball

In [13]:
#to sortout we need to use if function
a = ["Ball", "cat", "Apple", "Ball", "ant", "banana", "xray","Ball"]
l = len(a) #for remove() function don't use len(), use cout() instead
for i in range(l):
    if a[i] == "Ball":
        print(i)

0
3
7

In [14]:
#to delete ball which is in 0, 3 and 7 index
#remove a "Ball"
a = ["Ball", "cat", "Apple", "ant", "banana", "xray","Ball"]
del a[0] #but for this way to do, we need to know where the item is, therefore we dont use del function, instead use remove
a

['cat', 'Apple', 'ant', 'banana', 'xray', 'Ball']

In [15]:
# Remove only the first occurrence of "Ball"
a = ["Ball", "cat", "Apple", "Ball", "ant", "banana", "xray", "Ball"]

if "Ball" in a:
    a.remove("Ball")

print(a)

['cat', 'Apple', 'Ball', 'ant', 'banana', 'xray', 'Ball']

In [21]:
#pop() moves the items sort of removing it, not exactly removing rather moving it to another location
a = ["Ball", "cat", "Apple", "Ball", "ant", "banana", "xray", "Ball"]
b = a.pop(1)
print(a)
print(b)

['Ball', 'Apple', 'Ball', 'ant', 'banana', 'xray', 'Ball']
cat

In [22]:
#search
a = ['cat', 'Apple', 'Ball', 'ant', 'banana', 'xray', 'Ball']
if "Ball" in a:
    print("Yes")
    print(a.count("Ball"))
else:
    print("No")

Yes
2

In [23]:
#nested list: list inside list

In [24]:
a = [[1,2,3], [4,5,6], [7,8,9]]
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [25]:
print(a[0])

[1, 2, 3]

In [26]:
print(a[2])

[7, 8, 9]

In [28]:
#nested list
print(a[0][0])

1

In [5]:
# Creating a list of people with name, age, and address
# a = [['Ram', 34, 'Kathmandu'],
#     ['Shyam', 56, 'Bhaktapur'],
#    ['Hari', 40, 'Lalitpur']]

l = []  # Defining empty list
n = int(input("Enter n = "))  # Number of entries

for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    address = input("Enter address = ")
    l.append([name, age, address])

Wprint(l)

Enter n =  2
Enter name =  Ram
Enter age =  34
Enter address =  Ktm
Enter name =  Shyam
Enter age =  56
Enter address =  Pokhara

[['Ram', 34, 'Ktm'], ['Shyam', 56, 'Pokhara']]

In [6]:
#search
for i in l:
    print(i)

['Ram', 34, 'Ktm']
['Shyam', 56, 'Pokhara']

In [7]:
#search
for i in l: #l is the list
    if "Ram" in i:
        print(i)

['Ram', 34, 'Ktm']

In [8]:
#search
name = input("Enter name = ")
for i in l: #l is the list
    if "Ram" in i: #this is case sensitive
        print(i)

Enter name =  Ram

['Ram', 34, 'Ktm']

In [10]:
#WAP to search if the given name record is in the list (both small and capital letters)

In [11]:
# Create list of people [name, age, address]
records = []

n = int(input("Enter number of people = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    address = input("Enter address = ")
    records.append([name, age, address])

# Search for a name (case-insensitive)
search_name = input("Enter name to search = ")

found = False
for person in records:
    if person[0].lower() == search_name.lower():
        print("Record found:")
        print(f"Name: {person[0]}")
        print(f"Age: {person[1]}")
        print(f"Address: {person[2]}")
        found = True
        break

if not found:
    print("Record not found.")

Enter number of people =  2
Enter name =  David
Enter age =  56
Enter address =  America
Enter name =  Sofia
Enter age =  50
Enter address =  Sweden
Enter name to search =  hari

Record not found.

In [13]:
#adding an item to the existing list
l = [['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Lalitpur'], ['Hari', 56, 'Bhaktapur']]                        
a = [['Sita', 34, 'Jhapa']]
c = l + a
print(c)

[['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Lalitpur'], ['Hari', 56, 'Bhaktapur'], ['Sita', 34, 'Jhapa']]

In [14]:
#update to the existing list
l = [['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Lalitpur'], ['Hari', 56, 'Bhaktapur']]  
print(l[0])

['Ram', 45, 'Kathmandu']

In [17]:
#update to the existing list
l = [['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Lalitpur'], ['Hari', 56, 'Bhaktapur']]
l[0][0] = "Ram Pasad" #list bhitra xireko
print(l[0])
print(l)

['Ram Pasad', 45, 'Kathmandu']
[['Ram Pasad', 45, 'Kathmandu'], ['Shyam', 23, 'Lalitpur'], ['Hari', 56, 'Bhaktapur']]

In [18]:
#adding country name behind address
# l = [['Ram', 45, 'Kathmandu, Nepal'], ['Shyam', 23, 'Lalitpur, Nepal'], ['Hari', 56, 'Bhaktapur, Nepal']]

l = [['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Lalitpur'], ['Hari', 56, 'Bhaktapur']]
for i in l:
    print(i)

['Ram', 45, 'Kathmandu']
['Shyam', 23, 'Lalitpur']
['Hari', 56, 'Bhaktapur']

In [19]:
l = [['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Lalitpur'], ['Hari', 56, 'Bhaktapur']]
for i in l:
    print(i[2])

Kathmandu
Lalitpur
Bhaktapur

In [20]:
#we use formating

l = [['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Lalitpur'], ['Hari', 56, 'Bhaktapur']]
for i in l:
    print(f"{i[2]}, Nepal")

Kathmandu, Nepal
Lalitpur, Nepal
Bhaktapur, Nepal

In [22]:
#we have to do this in the list

l = [['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Lalitpur'], ['Hari', 56, 'Bhaktapur']]
for i in l:
    i[2] = f"{i[2]}, Nepal"
print(l)

[['Ram', 45, 'Kathmandu, Nepal'], ['Shyam', 23, 'Lalitpur, Nepal'], ['Hari', 56, 'Bhaktapur, Nepal']]