In [1]:
#string
a = 'hello world'
b = "hello world"
c = '''hello world'''

print(a)
print(b)
print(c)

hello world
hello world
hello world

In [2]:
#concat or append
a = "Hello"
b = "World"
c = a+b
print(c)

HelloWorld

In [3]:
#string with multiplication
a = "Hello world"
print(a*2)

Hello worldHello world

In [4]:
#Input and print what has been entered/typed
name = input("Enter name = ")
print(name)

Enter name =  Ram

Ram

In [5]:
#string is immutable data type. String is iterrable.
a = "Hello"
for i in a:
    print(i)

H
e
l
l
o

In [7]:
a = 10
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [9]:
#Indexing
a = 'Hello world'
print(a[3]) #always use big bracket in indexing. From left to right it starts with 0.
print(a[-1]) #from right to left starts from -1

l
d

In [11]:
#slicing
a = 'hello world'
print(a[0:5])

hello

In [13]:
#slicing
a = 'hello world'
print(a[0:5])
print(a[5:])

hello
 world

In [16]:
#slicing
a = 'hello world'
b = a[0:5]
c = a[5:]
print(b)
print(c)

hello
 world

In [17]:
#using range
a = "Hello World"
l = len(a)
for i in range(l):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [18]:
#using range
a = "Hello World"
l = len(a)
for i in range(l):
    print(a[i])

H
e
l
l
o

W
o
r
l
d

In [19]:
#using range
a = "Hello World"
l = len(a)
for i in range(l):
    print(a[i], end = " ")

H e l l o   W o r l d

In [22]:
#while loop. The index starts from 0.
i = 0
while i<len(a):
    print(a[i], end = " ")
    i = i+1

H e l l o   W o r l d

In [27]:
#string formatting
name = "Ram"
age = 34
address = "Kathmandu"
info = "Hello world. I am " + name + " I am from " + address + " I am " + str(age) 
print(info)

Hello world. I am Ram I am from Kathmandu I am 34

In [29]:
#string formatting
name = "Ram"
age = 34
address = "Kathmandu"
info = f"Hello World I am {name}. I am from {address}. I am {age}" #f, meaning formatting is here, which provides formatting to what's inside the curly bracket
print(info)
info = "Hello World I am {name}. I am from {address}. I am {age}" #without using f
print(info)

Hello World I am Ram. I am from Kathmandu. I am 34
Hello World I am {name}. I am from {address}. I am {age}

In [31]:
#WAP to create a billing system using string formatting. This billing code (from loop) is redone with string formatting
info = "" #varialbe initialise
row = 0 #this is optional, no need to do
grand_total = 0 #varialbe initialise, define
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter product name=")
    qty = float(input("Enter qty="))
    price = float(input("Enter price="))
    total = price * qty
    row = f"{product} {price} {qty} {total}\n"
    info = info + row
    grand_total= grand_total + total

print("Bill = \n",info)
print("All total = \n",grand_total)

Enter n =  2
Enter product name= momo
Enter qty= 5
Enter price= 120
Enter product name= coke
Enter qty= 4
Enter price= 100

Bill =
 momo 120.0 5.0 600.0
coke 100.0 4.0 400.0

All total =
 1000.0

In [34]:
#search in string. This is to prove or check string is immutable.
a = "Ram Shyam Hari Gopal" #but in reality, it is better to save the student roll no. instead of storing them in string as it has its own flaws
b = "Ram"
if b in a:
    print("yes")
else:
    print("No")

yes

In [36]:
#search in string. This is to prove or check string is immutable.
a = "Ram Shyam Hari Gopal Ram" #but in reality, it is better to save the student roll no. instead of storing them in string as it has its own flaws
b = "Ram"
if b in a:
    print("yes")
    print(a.count("Ram"))  #no. of times the word Ram has been repeated in the a
else:
    print("No")

Enter name =  Ram

yes

In [38]:
#search in string. This is to prove or check string is immutable.
a = "Ram Shyam Hari Gopal Ram" #but in reality, it is better to save the student roll no. instead of storing them in string as it has its own flaws. To sort out this, we use array.
b = input("Enter name = ")
if b in a:
    print("yes")
    print(a.count("b"))  #no. of times the word inserted has been repeated in the a
else:
    print("No")

Enter name =  Ram

yes
0

In [42]:
#string is immutable
a = "Ram Shyam Hari Gopal Ram" 
a.lower()
print(a)

Ram Shyam Hari Gopal Ram

In [43]:
a = "rAm"
a.lower() #the text is not updated, but it is just showing

'ram'

In [40]:
#.lower()
a = "Ram Shyam Hari Gopal Ram" 
a = a.lower()
print(a)

ram shyam hari gopal ram

In [41]:
#.upper
a = "Ram Shyam Hari Gopal Ram" 
a = a.upper()
print(a)

RAM SHYAM HARI GOPAL RAM

In [45]:
a = "Ram Shyam Hari Gopal Ram Ramesh".lower()
b = input("Enter name = ").lower()
if b in a:
    print("yes")
    print(a.count(b))  #no. of times the word inserted has been repeated in the a
else:
    print("No")

Enter name =  rAm

yes
3

In [46]:
#replace
a = "Ram Shyam Hari Gopal Ram Ramesh"
a.replace("Shyam","Shyama")
print(a)

Ram Shyam Hari Gopal Ram Ramesh

In [47]:
#replace
a = "Ram Shyam Hari Gopal Ram Ramesh"
a = a.replace("Shyam","Shyama")
print(a)

Ram Shyama Hari Gopal Ram Ramesh

In [49]:
#replace
a = "Ram Shyam Hari Gopal Ram Ramesh"
a = a.replace("Ram","Rama")
print(a)

Rama Shyam Hari Gopal Rama Ramaesh

In [51]:
#replace
a = "Ram Shyam Hari Gopal Ram Ramesh"
a.replace("Shyam","Shyama")

'Ram Shyama Hari Gopal Ram Ramesh'

In [52]:
#replace
a = "Ram Shyam Hari Gopal Ram Ramesh"
a.replace("Shyam","Shyama")
print(a)

Ram Shyam Hari Gopal Ram Ramesh

In [53]:
#There is no delete option in string, but we can use replace to get a similar effect
a = "Ram Shyam Hari Gopal Ram Ramesh"
a = a.replace("Shyam", "")
print(a)

Ram  Hari Gopal Ram Ramesh